/* Estilos para o contêiner dos usuários inativos e todos os usuários */
.container {
    margin-bottom: 20px;
  }
  
  /* Estilos para o título dos usuários inativos e todos os usuários */
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Estilos para a tabela de usuários */
  .table {
    min-width: 800px;
  }
  
  /* Estilos para as células da tabela */
  .table-cell {
    padding: 12px;
  }
  
  /* Estilos para o avatar */
  .avatar {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
  
  /* Estilos para o botão "Ativar" */
  .activate-button {
    margin-left: 10px;
  }
  